# Configurações Gerais do Servidor
PORT=80
NODE_ENV=production

# URLs e Identificação do Site
SITE_URL=https://www.jbritopensamentos.com.br
SITE_NAME="João de Brito Freires - Pensamentos & Opiniões"

# GitOps & Easypanel Auto-Deploy Trigger
EASYPANEL_WEBHOOK_URL=http://72.61.44.164:3000/api/deploy/fa254d445fc097eac222e2dc03ec59b0146e2b2baa35bbe5
GITHUB_REPOSITORY=JaderBrito09/joao-brito-site
HERMES_AGENT_AUTO_DEPLOY=true

# Analytics & SEO (Opcional)
GOOGLE_ANALYTICS_ID=G-XXXXXXXXXX
